.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.breatheNormal {
position: absolute;
animation:  breathe ease-in-out 3s infinite;
}

.breatheFast {
position: absolute;
animation:  breathe ease-in-out 1s infinite;
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.toggle{
    position: absolute;
    z-index: 5;
    width: 350px;
    height: 350px;
    background-color: transparent;
    border-color: transparent;
    border-radius: 250px;
    /* animation:  breathe ease-in-out 3s infinite; */
}

/* @media only screen and (max-width:600px){

    .toggle{
        left:17%;
    }
} */

/* .toggle:hover{
    animation:  toggleHover linear 3s ;
}


@keyframes toggleHover {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(2);
  }
} */

.vertices{
    position:absolute;
    width:100;
    height:100;
    background-color: black;
    color: black;
    border-color: black;
    border-radius: 1000;
}
